:root{
  --Red: hsl(0, 100%, 68%);
  --Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --white:hsl(0, 0%, 100%);
}
/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif; heading, call-to-action,navigation */
body{
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}
@media screen and (min-width:1024px) {
  .container{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
    overflow: hidden;
  }
}
.header{
  position: relative;
  height: 350px;
  background-image: url('../images/illustration-devices.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100px, 50%;
}

.header::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--Light-Grayish-Blue);
  border-bottom-left-radius: 30px;
}
@media screen and (min-width:1024px) {
  .header{
    width: 100%;
    height: 100vh;
    background-size: 140%;
    background-position: -1% 80%;
    grid-row: span 2;
    order: 1;
  }
  .header::after{
    width: 100%;
    height: 65%;
    left: 0;
  }
}
.images{
  padding:  0 1em;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width:1024px) {
  .images{
    height: 0;
  }
  .header__IconMenu{
    display: none;
  }
  .header__logo{
    position: absolute;
    top: 12%;
    left: -85%;
  }
}

.header__menu{
  width: 75%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  background-color:var(--white);
  border-radius: 5px;
  box-shadow: -5px 5px 5px rgb( 0 0 0 /0.25);
  transform: scale(0);
  transition: transform 0.3s;
}
@media screen and (min-width:1024px) {
  .header__menu{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: scale(1);
    flex-direction: row;
    background-color:transparent;
    box-shadow: 0 0 0;
  }
}
.active{
  transform: scale(1);
}

.menu__item{
  width: 100%;
  text-align: center;
  position: relative;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__item:nth-child(3)::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background-color: var(--Light-Grayish-Blue);
}
@media screen and (min-width:1024px) {
  .menu__item{
    background-color: transparent;
  }
  .menu__item:nth-child(3)::after{
    content: '';
    display: none;
  }
}
.menu__link{
  text-decoration: none;
  color: var(--Dark-Blue);
}
.text--light{
  color: var(--Grayish-Blue);
}
@media screen and (min-width:1024px) {
  .menu__link:hover{
    border-bottom: 1px solid;
  }
}
.main{
  margin-top: 1em;
  margin-bottom: 4.5em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:1024px) {
  .main{
    width: 70%;
    margin-top: 10em;
    grid-row: span 2;
    place-self: center;
  }
}
.main__title{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Grayish-Blue);
}
.text--bold{
  position: relative;
  color: white;
  margin-right: 1em;
  letter-spacing: 0;
}
.text--bold::after{
  content: '';
  position: absolute;
  top: -6px;
  left: -4px;
  z-index: -1;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color: var(--Dark-Blue);
}
.second__title{
  margin-top: 0;
  color: var(--Dark-Blue);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
@media screen and (min-width:1024px) {
  .second__title{
    font-size: 3rem;
  }
}
.main__info{
  color: var(--Dark-Grayish-Blue);
  font-weight: 700;
}
.main__link{
  display: inline-block;
  margin-right: 10px;
  padding: 0.5em;
  border-radius: 7px;
  background-color: var(--Red);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.main__see{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
}
@media screen and (min-width:1024px) {
  .main__info{
    margin-bottom: 3em;
  }
  .main__link{
    padding: 0.7em;
  }
  .main__see{
    display: inline-block;
  }
  .main__link:hover{
    background-color: hsla(0, 100%, 68%,0.8);
  }
}