:root{
  --Red: hsl(0, 100%, 68%);
  --Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --white:hsl(0, 0%, 100%);
}
/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif; heading, call-to-action,navigation */
body{
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

.header{
  position: relative;
  height: 350px;
  background-image: url('../images/illustration-devices.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100px, 50%;
}
.header::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--Light-Grayish-Blue);
  border-bottom-left-radius: 30px;
}
.images{
  padding:  0 1em;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu{
  width: 75%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  background-color:var(--white);
  border-radius: 5px;
  box-shadow: -5px 5px 5px rgb( 0 0 0 /0.25);
  transform: scale(0);
  transition: transform 0.3s;
}
.active{
  transform: scale(1);
}

.menu__item{
  width: 100%;
  text-align: center;
  position: relative;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__item:nth-child(3)::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background-color: var(--Light-Grayish-Blue);
}
.menu__link{
  text-decoration: none;
  color: var(--Dark-Blue);
}
.text--light{
  color: var(--Grayish-Blue);
}

.main{
  margin-top: 1em;
  margin-bottom: 4.5em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.main__title{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Grayish-Blue);
}
.text--bold{
  position: relative;
  color: white;
  margin-right: 1em;
  letter-spacing: 0;
}
.text--bold::after{
  content: '';
  position: absolute;
  top: -6px;
  left: -4px;
  z-index: -1;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color: var(--Dark-Blue);
}
.second__title{
  margin-top: 0;
  color: var(--Dark-Blue);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
.main__info{
  color: var(--Dark-Grayish-Blue);
  font-weight: 700;
}
.main__link{
  display: inline-block;
  margin-right: 10px;
  padding: 0.5em;
  border-radius: 7px;
  background-color: var(--Red);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}
.main__see{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
}